* {
  box-sizing: border-box;
}

html, body {
  height:100%;
  width:100%;
  margin:0;
}

.multiSearch{
  display: none;
}
.images{
  border: 2px solid black;
  padding: 2px;
  width: 20%;
  height: 20%;
}
.images {
  transition:transform 0.25s ease;
  width: 20%;
  height: 20%;

  /* -webkit-transform:scale(.5); 
  transform:scale(.5); */
}
.images:hover {
  -webkit-transform:scale(2.0); 
  transform:scale(2.0);
}

.col-md {
  margin: 10px;
  border: 2px groove black;
}
#resultDesc{
  display: none;
  border: 2px solid black;
  padding: 2px;
}
#dateHelp{
  margin-top: 5px;
}
.btn{
  margin-top: 5px;
}




















































