html, body {
  height:100%;
  width:100%;
  margin:0;
}
.col-md {
  margin: 10px;
  border: 2px groove black;
}
#resultDesc{
  display: none;
  border: 2px solid black;
  padding: 2px;
}
#dateHelp{
  margin-top: 5px;
}
.btn{
  margin-top: 5px;
}
/* iframe {
    width:50%;
    height:auto;
}
/* .h_iframe {
    height: 50%;
    width:50%;
} */ 

















